<nav>
    <li><a href="{{site.baseurl}}/search" title="search">&#x1F50D;</a></li>
    <li><a href="{{site.organization.master}}/{{page.path}}" title="Edit this page at GitHub">🐙</a></li>
    <li><a href="{{site.baseurl}}/index.html" title="Home page">&#x1f3e0</a></li>

    <li><a href="{{site.baseurl}}/resources.html" title="resources">&#x2699</a></li>
    <li><a href="{{site.baseurl}}/timetables.html" title="horarios">&#x1f5d3</a></li>
    <li><a href="{{site.baseurl}}/references.html" title="bibliografia">&#x1f4da</a></li>

    <li><a href="{{site.baseurl}}/practicas.html" title="prácticas">&#x270d</a></li>
    <li><a href="{{site.baseurl}}/mis-clases.html" title="clases 1ª y 2ª partes">
        <img src="{{site.baseurl}}/assets/images/casianogravatar.jpeg" 
        style="width: 11px; height: 12px;"/>
    </a>
    </li>
        <li><a href="{{site.organization.url}}/dsi1920" title="repo dsi1920:2ª parte">
        <img src="{{site.baseurl}}/assets/images/manz.png" 
        style="width: 11px; height: 12px; vertical-align: baseline;"/>
        </a>
    </li>

    {% for tema in site.temas %}
    <li><a href="{{site.baseurl}}/{{tema.url}}" title={{tema.hover}}>T{{forloop.index0}}</a></li>
    {% endfor %}

    {% if page.previous %}
    <li><a href="{{site.baseurl}}/{{page.previous.url}}" title="Previous">&#x2190;</a></li>
    {% endif %}
    {% if page.next %}
    <li><a href="{{site.baseurl}}/{{page.next.url}}" title="Next">&#x2192;</a></li>
    {% endif %}
    
    {% if site.show_downloads %}
    <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
    <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
    <li class="title">DOWNLOADS</li>
    {% endif %}
</nav>