<!doctype html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1"> {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <link rel="icon" type="image/png" href="{{site.baseurl}}/{{site.logo}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
    <div id="header">
        <nav>
            <li><a href="{{site.baseurl}}/search" title="search">&#x1F50D;</a></li>
   
            <li><a href="{{site.organization.master}}/{{page.path}}" title="Edit this page at GitHub">🐙</a></li>
   
            <li><a href="{{site.baseurl}}/index.html" title="Home page">&#x1f3e0</a></li>
           

            <li><a href="{{site.baseurl}}/resources.html" title="resources">&#x2699</a></li>
            <li><a href="{{site.baseurl}}/timetables.html" title="horarios">&#x1f5d3</a></li>
            <li><a href="{{site.baseurl}}/references.html" title="bibliografia">&#x1f4da</a></li>

            <li><a href="{{site.baseurl}}/practicas.html" title="prácticas">&#x270d</a></li>
            <li><a href="{{site.baseurl}}/mis-clases.html" title="clases">👨‍🏫</a></li>

            {% for tema in site.temas %}
            <li><a href="{{site.baseurl}}/{{tema.url}}" title={{tema.hover}}>T{{forloop.index0}}</a></li>
            {% endfor %}

            <!--
            <li><a href="{{site.baseurl}}/tema2-async/index.html">T2</a></li>
            <li><a href="{{site.baseurl}}/tema3-web/index.html">T3</a></li>
            <li><a href="{{site.baseurl}}/tema3-web/practicas/p12-tfa-user-experience/">TFA</a></li>
            -->
 
            {% if site.show_downloads %}
            <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
            <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
            <li class="title">DOWNLOADS</li>
            {% endif %}
        </nav>
    </div>
    <!-- end header -->


    <div class="wrapper">

        <section>
            <div id="title">
                <h1>{{ site.title | default: site.github.repository_name }}</h1>
                <p>{{ site.description | default: site.github.project_tagline }}</p>
                <hr>
                <span class="credits left">Organization <a href="{{ site.organization.url }}" target="_blank">{{ site.organization.name }}</a></span>
                <span class="credits left"> &nbsp; Github Classroom <a href="{{site.github_classroom}}" target="_blank">{{site.acronym}}</a></span>
                <span class="credits left"> &nbsp; Campus Virtual <a href="{{site.campus_virtual}}" target="_blank">{{site.acronym}}</a></span>
                <span class="credits left"> &nbsp; Profesor <a href="{{site.teacher}}" target="_blank">Casiano</a></span>
            </div>

            {{ content }}

            <!-- { % include disqus.html % } -->
            <!--
                <h2>Your Comments</h2>
                <div class="utterances utterances-frame">
                    {% include utterances.html %}
                </div>
             -->             


            <details>
                <summary>
                    <h2>Your Comments</h2>
                </summary>
                {% include disqus.html %}
                {% include utterances.html %}
            </details>



        </section>
    </div>

    
  
    <!-- Mathjax Support  -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

    {% if site.google_analytics %}
    <script type="text/javascript">
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</body>

</html>
