<!doctype html>
<html lang="{{ site.lang | default: " en-US " }}">

{% include head-layout.html %}

<body>
    <div id="header">
        {% include navigation-bar-layout.html %}
    </div>
    <!-- end header -->


    <div class="wrapper">

        <section>
            
            {% include title-bar-layout.html %}
        
            <h2 >Table of Contents</h2>
           
            {% include toc.html html=content id="dsitoc" %}
        
            {{ content }}

            {% include utterances.html %}

            {% include comment-with-disqus.html %}

        </section>
    </div>

    <!-- Mathjax Support  -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

    {% if site.google_analytics %}
      {% include google-analytics-layout.html %}
    {% endif %}
</body>

</html>
